* {
  font-family: "Roboto";
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 10px;
  background-color: #47b941;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  color: white;
  text-shadow: 0 1px 10px rgba(51, 51, 51, 0.5);
}
header div {
  display: flex;
  align-items: center;
}
header div form {
  display: flex;
  align-items: center;
  gap: 10px;
}
header div button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #62d25c;
  color: white;
  margin-right: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 1px 10px rgba(51, 51, 51, 0.5);
}
header div button a {
  text-decoration: none;
  color: white;
}
header div button:hover {
  background-color: rgb(31, 210, 22);
}
header div input {
  margin: 0;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid rgba(51, 51, 51, 0.5);
  box-shadow: 0 1px 10px rgba(51, 51, 51, 0.5);
}
header div input:focus {
  border-color: #4CAF50;
}
header div p {
  font-size: 18px;
  color: white;
}

.main {
  box-shadow: 0px 5px 20px rgba(51, 51, 51, 0.5);
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.main .main-links {
  padding: 10px;
  display: flex;
  gap: 15px;
  font-size: 22px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
.main .main-links a {
  text-decoration: none;
  color: #47b941;
  transition: 0.3s ease;
  text-shadow: 0 1px 10px rgba(51, 51, 51, 0.2);
}
.main .main-links a:hover {
  color: rgba(66, 164, 61, 0.624);
}

.footer {
  background-color: rgb(51, 51, 51);
  color: white;
  text-align: center;
  padding: 10px;
}

.hidden {
  display: none;
}