.posts .posts-sections, .posts .posts-categories {
  display: flex;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  gap: 20px;
  transition: 0.3s ease;
}
.posts .posts-sections p, .posts .posts-categories p {
  margin: 0;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 20px;
  color: rgb(31, 31, 31);
  text-shadow: 0 1px 10px rgba(51, 51, 51, 0.1);
}
.posts .posts-categories {
  overflow: hidden;
}
.posts .posts-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}
.posts .posts-container .post {
  width: 45%;
  padding: 10px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  box-shadow: 0 2px 10px rgba(51, 51, 51, 0.15);
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}
.posts .posts-container .post .commentsposts-container-post-edit {
  position: absolute;
  right: -10px;
  top: -10px;
}
.posts .posts-container .post .commentsposts-container-post-edit img {
  width: 20px;
  margin: 15px 15px;
  transition: 0.2s ease;
}
.posts .posts-container .post .commentsposts-container-post-edit img:hover {
  cursor: pointer;
  filter: invert(40%);
}
.posts .posts-container .post .post-theme {
  flex: 1;
  text-decoration: none;
  font-size: 26px;
  font-weight: bolder;
  margin: 10px 0;
}
.posts .posts-container .post .post-text {
  font-size: 22px;
  margin-top: 10px;
}
.posts .posts-container .post div {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}
.posts .posts-container .post div p {
  margin: 0;
}
.posts .posts-container .posts-container-created div {
  display: flex;
  align-items: center;
}
.posts .posts-container .posts-container-created div img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 20px;
}
.posts .posts-container .posts-container-created .post-created {
  margin-right: 30px;
}

.active {
  background-color: #4CAF50;
  color: white !important;
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
  text-shadow: 0 1px 10px rgba(51, 51, 51, 0.1);
}