.profile-posts {
  padding: 20px;
  font-size: 20px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
.profile-posts p:first-child {
  color: #47b941;
  font-weight: bolder;
  font-size: 28px;
  margin: 15px 0;
  margin-top: 5px;
}
.profile-posts button {
  background-color: #47b941;
  padding: 15px 10px;
  margin: 15px 0;
  box-shadow: 0 1px 10px rgba(51, 51, 51, 0.1);
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
}
.profile-posts button a {
  font-size: 24px;
  text-decoration: none;
  color: white;
}
.profile-posts button:hover {
  background-color: rgb(31, 210, 22);
}
.profile-posts .profile-posts-container .profile-posts-container-post {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(51, 51, 51, 0.1);
  border: 1px solid rgba(51, 51, 51, 0.2);
  padding: 10px;
  padding-top: 15px;
  margin: 10px 0;
}
.profile-posts .profile-posts-container .profile-posts-container-post a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 24px;
  margin: 15px 0;
}
.profile-posts .profile-posts-container .profile-posts-container-post p {
  margin: 15px 0;
}
.profile-posts .profile-posts-container .profile-posts-container-post .profile-posts-container-post-edit {
  position: absolute;
  right: 20px;
  bottom: 0;
}
.profile-posts .profile-posts-container .profile-posts-container-post .profile-posts-container-post-edit img {
  width: 30px;
  margin: 15px 15px;
  transition: 0.2s ease;
}
.profile-posts .profile-posts-container .profile-posts-container-post .profile-posts-container-post-edit img:hover {
  cursor: pointer;
  filter: invert(40%);
}

.login {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login h2 {
  font-size: 26px;
  background-color: #47b941;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(51, 51, 51, 0.4);
}