{% extends 'base.html' %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <div class="container">
        <h3>Новые посты</h3>
        {% for post in new_posts %}
            <div class="post" id="post-{{post.id}}">
                {% if access == 'admin' %}
                <div class="commentsposts-container-post-edit">
                    <img src="../static/img/Close.svg" alt="" class="delete-post" data-post-id="{{post.id}}">
                </div>
                {% endif %}
                <a class="post-theme" href="{{url_for('post', post=post.id)}}">{{post.theme}}</a>
                <p class="post-text"  data-text="{{post.text}}">{{post.text | truncate(150, True, '...')}}</p>
                <div>
                    <p class="user-{{post.user.id}}">{{post.user.username}}{% if access == 'admin' %}<button class="ban-button" value="{{post.user.id}}" data-user="{{post.user.username}}">забанить</button>{% endif %}</p>
                    <p class="post-created">{{post.created_at.strftime('%Y-%m-%d %H:%M')}}</p> 
                </div> 
            </div>
        {% endfor %}
    </div>
    <script src="../static/scripts/delete.js"></script>
{% endblock %}