{% extends 'base.html' %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <div class="container">
        <h3>Новые посты</h3>
        {% for post in new_posts %}
            <div class="post" data-section-id="{{post.sections.id}}" data-category-id="{{post.categories.id}}">
                
                <a href="{{url_for('post', post=post.id)}}" class="post-theme">{{post.theme}}</a>
                <div>
                    <p>{{post.user.username}}</p>
                    <p>{{post.created_at.strftime('%Y-%m-%d %H:%M')}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}