{% extends 'main.html' %}
{% block main %}
<link rel="stylesheet" href="{{url_for('static', filename='css/post.css')}}">
    <div class="post-created">
        <div>
            <img src="{{ url_for('static', filename=post.user.photo) if post.user.photo else url_for('static', filename='img/person.svg') }}" alt="">
            <p>{{post.user.username}}</p>
        </div>
        <p>{{post.created_at.strftime('%Y-%m-%d %H:%M')}}</p>
    </div>
    <div class="post-main">
        <div>
            <p>{{post.sections.section}}</p>
            <p>{{post.categories.category}}</p>
        </div>
        <h2>{{post.theme}}</h2>
        <p>{{post.text}}</p>
    </div>
    <div class="post-comments">
        {% if session['user'] %}
            <form id="comment-form">
                <input type="number" name="post" value="{{post.id}}" class="hidden">
                <p id="comment-message" class="comment-form-message"></p>
                <textarea name="comment" required></textarea>
                <button type="submit">Отпубликовать</button>
            </form>
            <script src="../static/scripts/post.js"></script>
        {% endif %}
        <div class="comments">
            {% for comment in comments %}
            <div class="comments-comment" id="comment-{{comment.id}}">
                {% if session['user'] == comment.user_id or access == 'admin' %}
                <div class="comments-comment-edit">
                    {% if session['user'] == comment.user_id %}
                    <img src="../static/img/Edit.svg" alt="" class="edit-comment" id="comment-{{comment.id}}" data-comment-id="{{comment.id}}">
                    {% endif %}
                    <img src="../static/img/Close.svg" alt="" class="delete-comment" data-comment-id="{{comment.id}}">
                </div>
                {% endif %}
                <div class="comments-comment-title">
                    <div>
                        <img src="{{ url_for('static', filename=post.user.photo) if post.user.photo else url_for('static', filename='img/person.svg') }}" alt="">
                        <p class="user-{{post.user.id}}">{{post.user.username}}{% if access == 'admin' %}<button class="ban-button" value="{{post.user.id}}" data-user="{{post.user.username}}">забанить</button>{% endif %}</p>
                    </div>
                    <p class="comment-created">{{comment.created_at.strftime('%Y-%m-%d %H:%M')}}</p>  
                </div>
                <p class="comment-text" data-text="{{comment.text}}">{{comment.text | truncate(100, True, '...')}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
<script src="../static/scripts/edit.js"></script>
<script src="../static/scripts/delete.js"></script>
{% endblock %}