{% extends 'main.html' %}
{% block main %}
<link rel="stylesheet" href="{{url_for('static', filename='css/posts.css')}}">
<div class="posts">
    <div class="posts-sections">
        <p class="section" data-section-id="all">Все</p>
        {% for section in sections %}
            <p class="section" data-section-id="{{section.id}}">{{section.section}}</p>
        {% endfor %}
    </div>
    <div class="posts-categories">
        {% for category in category %}
            <p class="category" data-section-id="{{category.section_id}}" data-category-id="{{category.id}}">{{category.category}}</p>
        {% endfor %}
    </div>
    <div class="posts-container">
        {% for post in posts %}
            <div class="post" id="post-{{post.id}}" data-section-id="{{post.sections.id}}" data-category-id="{{post.categories.id}}">
                {% if access == 'admin' %}
                <div class="commentsposts-container-post-edit">
                    <img src="../static/img/Close.svg" alt="" class="delete-post" data-post-id="{{post.id}}">
                </div>
                {% endif %}
                <div class="posts-container-created">
                    <div>
                        <img src="{{ url_for('static', filename=post.user.photo) if post.user.photo else url_for('static', filename='img/person.svg') }}" alt="">
                        <p class="user-{{post.user.id}}">{{post.user.username}}{% if access == 'admin' %}<button class="ban-button" value="{{post.user.id}}" data-user="{{post.user.username}}">забанить</button>{% endif %}</p>
                    </div>
                    <p class="post-created">{{post.created_at.strftime('%Y-%m-%d %H:%M')}}</p> 
                </div> 
                <a class="post-theme" href="{{url_for('post', post=post.id)}}">{{post.theme | truncate(40, True, '...')}}</a>
                <p class="post-text"  data-text="{{post.text}}">{{post.text | truncate(150, True, '...')}}</p>
            </div>
        {% endfor %}
    </div>
</div>
<script src="../static/scripts/delete.js"></script>
<script src="../static/scripts/posts.js"></script>
{% endblock %}