{% extends 'main.html' %}
{% block main %}
<link rel="stylesheet" href="{{url_for('static', filename='css/post.css')}}">
    <div class="post-created">
        <div>
            <img src="../static/img/person.svg" alt="" class="profile-img" />
            <p>{{post.user.username}}</p>
        </div>
        <p>{{post.created_at.strftime('%Y-%m-%d %H:%M')}}</p>
    </div>
    <div class="post-main">
        <div>
            <p>{{post.sections.section}}</p>
            <p>{{post.categories.category}}</p>
        </div>
        <h2>{{post.theme}}</h2>
        <p>{{post.text}}</p>
    </div>
    <div class="post-comments">
        {% if session['user'] %}
            <form id="comment-form">
                <input type="number" name="post" value="{{post.id}}" class="hidden">
                <p id="comment-message" class="comment-form-message"></p>
                <textarea name="comment" required></textarea>
                <button type="submit">Отпубликовать</button>
            </form>
            <script src="../static/scripts/post.js"></script>
        {% endif %}
        <div class="comments">
            {% for comment in comments %}
            <div class="comments-comment">
                <div class="comments-comment-title">
                    <p>{{comment.user.username}}</p>
                    <p>{{comment.created_at.strftime('%Y-%m-%d %H:%M')}}</p>
                </div>
                <p class="comments-comment-text">{{comment.text}}</p>
            </div>
            {% endfor %}
        </div>
</div>
{% endblock %}