{% extends 'main.html' %}
{% block main %}
<link rel="stylesheet" href="{{url_for('static', filename='css/posts.css')}}">
<div class="posts">
    <div class="posts-sections">
        <p class="section" data-section-id="all">Все</p>
        {% for section in sections %}
            <p class="section" data-section-id="{{section.id}}">{{section.section}}</p>
        {% endfor %}
    </div>
    <div class="posts-categories">
        {% for category in category %}
            <p class="category" data-section-id="{{category.section_id}}" data-category-id="{{category.id}}">{{category.category}}</p>
        {% endfor %}
    </div>
    <div class="posts-container">
        {% for post in posts %}
            <div class="post" data-section-id="{{post.sections.id}}" data-category-id="{{post.categories.id}}">
                
                <a href="" class="post-theme">{{post.theme}}</a>
                <div>
                    <p>{{post.user.username}}</p>
                    <p>{{post.created_at.strftime('%Y-%m-%d %H:%M')}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<script src="../static/scripts/posts.js"></script>
{% endblock %}