{% extends 'main.html' %}
{% block main %}
<link rel="stylesheet" href="{{url_for('static', filename='css/post-creation.css')}}">
{% if session['user'] %}
<section class="post-creation">
    {% if access == 'admin' %}
    <div class="admin">
        <button class="admin-button">Добавить раздел/категорию</button>
        <div class="admin-div">
            <p class="admin-p"></p>
            <form id="form-create-section">
                <label for="create-section">Создать раздел</label>
                <input type="text" name="create-section" placeholder="раздел" id="create-section">
                <button>Добавить раздел</button>
            </form>
            <form id="form-create-category">
                <label for="create-category">Добавить категорию</label>
                <input type="text" name="create-category" placeholder="категория" id="create-category">
                <select id="create-category-section" name="create-category-section" required>
                    <option value="">К какому разделу относится</option>
                    {% for section in sections %}
                        <option value="{{section.id}}">{{section.section}}</option>
                    {% endfor %}
                </select>
                <button>Добавить категорию</button>
            </form>
            <form id="form-delete-section">
                <label for="delete-section">Удалить раздел</label>
                <select id="delete-section" name="delete-section" required>
                    <option value="">Выберите раздел</option>
                    {% for section in sections %}
                        <option value="{{section.id}}">{{section.section}}</option>
                    {% endfor %}
                </select>
                <button>Удалить</button>
            </form>
            <form id="form-delete-category">
                <label for="delete-category">Удалить категорию</label>
                <select id="delete-category" name="delete-category" required>
                    <option value="">Выберите категорию</option>
                    {% for category in category %}
                        <option value="{{category.id}}">{{category.category}}</option>
                    {% endfor %}
                </select>
                <button>Удалить категорию</button>
            </form>
        </div>
    </div>
    {% endif %}
    <h3>Создать пост</h3>
    <form class="post-form" action="#" method="post">
        <div class="form-group">
            <label for="post-section">Раздел:</label>
            <select id="post-section" name="post-section" required>
                <option value="">Выберите раздел</option>
                {% for section in sections %}
                    <option value="{{section.id}}">{{section.section}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="post-category">Категория:</label>
            <select id="post-category" name="post-category" required>
                <option value="" data-section-id="">Выберите категорию</option>
                {% for category in category %}
                    <option data-text="{{category.id}}"  value="{{category.id}}" data-section-id="{{category.section_id}}" class="category hidden">{{category.category}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="post-title">Заголовок:</label>
            <input type="text" id="post-title" name="post-title" placeholder="Введите заголовок" required>
        </div>
        <div class="form-group">
            <label for="post-content">Содержимое поста:</label>
            <textarea id="post-content" name="post-content" rows="5" placeholder="Введите текст поста" required></textarea>
        </div>
        <h2 id="create-message"></h2>
        <button type="submit" class="submit-button">Создать пост</button>
    </form>
</section>
<script src="../static/scripts/create.js"></script>
{% else %}
    <div class="login">
        <h2>Войдите в аккаунт</h2>
    </div>
{% endif %}
{% endblock %}