{% extends 'main.html' %}
{% block main %}
<link rel="stylesheet" href="{{url_for('static', filename='css/post-creation.css')}}">
{% if session['user'] %}
<section class="post-creation">
    <h3>Создать пост</h3>
    <form class="post-form" action="#" method="post">
        <div class="form-group">
            <label for="post-section">Раздел:</label>
            <select id="post-section" name="post-section" required>
                <option value="">Выберите раздел</option>
                {% for section in sections %}
                    <option value="{{section.id}}">{{section.section}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="post-category">Категория:</label>
            <select id="post-category" name="post-category" required>
                <option value="" data-section-id="">Выберите категорию</option>
                {% for category in category %}
                    <option data-text="{{category.id}}"  value="{{category.id}}" data-section-id="{{category.section_id}}" class="category hidden">{{category.category}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="post-title">Заголовок:</label>
            <input type="text" id="post-title" name="post-title" placeholder="Введите заголовок" required>
        </div>
        <div class="form-group">
            <label for="post-content">Содержимое поста:</label>
            <textarea id="post-content" name="post-content" rows="5" placeholder="Введите текст поста" required></textarea>
        </div>
        <h2 id="create-message"></h2>
        <button type="submit" class="submit-button">Создать пост</button>
    </form>
</section>
<script src="../static/scripts/create.js"></script>
{% else %}
    <div class="login">
        <h2>Войдите в аккаунт</h2>
    </div>
{% endif %}
{% endblock %}