{% extends 'base.html' %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% if session['user'] %}
<div class="commentsposts">
    <p>Ваши комментарии:</p>
    <div class="commentsposts-container">
        {% for comment in comments %}
        <div class="commentsposts-container-post" id="comment-{{comment.id}}">
            <div class="commentsposts-container-post-edit">
                <img src="../static/img/Edit.svg" alt="" class="edit-comment">
                <img src="../static/img/Close.svg" alt="" class="delete-comment" data-comment-id="{{comment.id}}">
            </div>
            <a href="{{url_for('post', post=comment.post_id)}}">Пост: {{comment.post.theme}}</a>
            <p>{{comment.text | truncate(100, True, '...')}}</p>
            <p>{{comment.created_at.strftime('%Y-%m-%d %H:%M')}}</p>  
        </div>
        {% endfor %}
    </div>
</div>
<script src="../static/scripts/delete.js"></script>
{% else %}
    <div class="login">
        <h2>Войдите в аккаунт</h2>
    </div>
{% endif %}
{% endblock %}